.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg-body-tertiary{
  margin: 0%;
  padding: 0%;
}


.nav_text{
  font-weight: bold;
}
.srchround{
  border-radius: 30px;
 margin:  0 300px  50px 300px;
}
.card_color{
  background-color: bisque;
}
.card_color:hover{
  box-shadow: 5px 5px 5px 5px;
  cursor: pointer;
}

.TextColor{
  font-size: 13px;
  color: blue;
} 
.Bgclr{
  /* color: #61dafb; */
  background-color:lightblue

}
.Bgclr2{
  background-color: ffff;
}
.TextColor2{
  /* color: black; */
  /* font-weight: bold; */
  font-size: 12px;
}
.MainCard{
  border-radius: 10px;
  height: 310px;
}
.MainCard:hover{
  box-shadow: 3px 5px 2px lightslategray;
  cursor: pointer;
}

.prop_serve:hover{
  box-shadow: 3px 6px 2px lightslategray;

}
.Box_s:hover{
  box-shadow: 5px 5px 5px 5px lightslategray;
}
.firstBadge{
  margin-right: 0rem;
}

.badge{
  position: relative;
  left: 40px;
}
.badge_2{
  display: none;
}
.bricks_1{
  font-size: small;
}
.Bricks_4{
  font-size:small;
  cursor: pointer;
}
.vido_h{
  height: 23rem;
}
.top{
  margin-top: 5rem;
}
.vido_h:hover{
  /* box-shadow: 2px 2px 5px 2px red ; */
  border-top: solid 1px red;
  box-shadow: 5px 5px 5px 5px lightslategray;
}

.nav_bold{
  font-weight: bold;
  color:gray;
  font-style: italic;
  text-decoration: none;
  position: relative;
  cursor: pointer;
 }
 .nav_bold::after{
  content: '';
  width:0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.nav_bold:hover::after{
  width: 100%;
}
.Bricks_11{
  cursor: pointer;
  color: #282c34;
  text-decoration: none;
}
.ho{
  cursor: pointer;
}

.snap{
  margin-right: 100px;
}
.propert{
  cursor: pointer;
}
.post{
  background-color: bisque;
  width: 77rem;
  cursor: pointer;
}
.post1{
  margin-top: 20px;
  font-style: oblique;
  font-size: x-large;
  
}
.fon{
  font-size: xx-large;
}
.font{
  border: solid 1px yellow;
  border-radius: 10px;
  position: relative;
  left: 60rem;
  bottom: 3rem;
  font-size:x-large;
  margin: 2px;
  font-style: normal;
  margin: 2px 2px 2px 2px;
  padding: 5px;
  
}
.baa{
  position: relative;
  right: 40px;
  font-size: smaller;
  bottom: 1px;
}

.hlo{
  /* border: solid 1px red; */
  /* border-radius: 10px; */


}

.bgm{
background-color: dimgray;
}


.po{
  background-color: white;
  width: 64rem;
  height: 40rem;
  cursor: pointer;
}
.im{
  width: 25rem;
}
.ima{
  width: 7rem;
  /* margin-top: 1rem; */
  position: relative;
  bottom: 422px;
}
.imp{
  width: 7rem;
  margin-left: 1rem;
  /* margin-top: 1rem; */
  position: relative;
  bottom: 423px;
}

.ArrowButton1{
  position:absolute;
  right: 5%;
  top: 528%;
  border-radius: 20px;
  height: 40px;
  background-color: white;
}
.ArrowButton2{
  position:absolute;
 left: 4%;
  top: 528%;
  border-radius: 40px;
  height: 40px;
  background-color:white;
}
.ArrowButtonLeft {
  position: absolute;
  left: 7%;
  top: 140%;
  transform: translateY(-50%);
  border-radius: 30px;
  background-color:white;
}
.ArrowButtonLeft:hover{
  background-color: red;
  color: #282c34;
}
.ArrowButtonRight:hover{
  background-color: red;
  color: white;
}

.ArrowButtonRight {
  position: absolute;
  right: 5%;
  top: 140%;
  transform: translateY(-50%);
  border-radius: 30px;
  background-color:white;
}
.footmrgin{
  color: #282c34;
}
.footmrgin2{
  color: #282c34;
}

.ico{
  background-color: lightgrey;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  position: relative;
  bottom: 120px;
}
.carp{
  position: relative;
  left: 28rem;
  bottom: 13rem;
  font-size: small;
}

.carpt{
  position: relative;
  left: 38rem;
  font-size: small;
  bottom: 18rem;
}
.car{
  position: relative;
  left: 52rem;
  font-size: small;
  bottom: 22rem;
}
.fa{
  position: relative;
  left: 28rem;
  bottom: 18rem;
  font-size: small;
}
.fac{
  position: relative;
  left: 38rem;
  font-size: small;
  bottom: 21rem;
}
.faci{
  position: relative;
  left: 52rem;
  font-size: small;
  bottom: 25rem;
}
.ag{
  position: relative;
  left: 28rem;
  bottom: 24rem;
  /* font-size: small; */
}

.line {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  position: relative;
  bottom: 18rem;
}
.own{
  position: relative;
  bottom: 22rem;
  border-radius: 10px;
  color: white;
  padding: 5px;
  background-color: red;
  border: 1px solid red;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* .owne{
  position: relative;
  bottom: 22rem;
  border-radius: 10px;
  color: red;
  padding: 5px;
} */

.owne {
  position: relative;
  bottom: 22rem;
  border-radius: 10px;
  color: red; /* Default text color */
  background-color: #f8f9fa; /* Default background color */
  border: 1px solid red;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color red 0.3s ease, color 0.3s ease; /* Smooth transition effect for both background color and text color */
}

.owne:hover {
  background-color: red; /* Background color on hover */
  color: white; /* Text color on hover */
}

.one{
  position: relative;
  bottom: 22rem;
  left: 25rem;
}

.mo{
  position: relative;
  left: 14rem;
}
.mon{
  position: relative;
  left: 5rem;
}
.tu{
  position: relative;
  left: 7rem;
}

.tues{
  position: relative;
  left: 4rem;
}
.thu{
  position: relative;
  left: 0rem;
}
.fri{
  position: relative;
  left: 10rem;
}
.rip{
  color: red;
  position: relative;
  left: 1rem;
}

.poo{
  background-color: white;
  width: 64rem;
  height: 25rem;
  cursor: pointer;
}